.antraste
{
	color:red;
	font-size: 30px;
}

.fonas
{
	background-color:#B9B9B9;
}

.tekstasBeEfektu{
  text-decoration: none;
}

.splitinimas{
  display: flex;                  /* establish flex container */
  flex-direction: row;            /* default value; can be omitted */
  flex-wrap: nowrap;              /* default value; can be omitted */
  justify-content: space-between;
}

.loginForma
{
	width:200px;
	padding: 30px;
	color: black;
    background-color: #979797;
	border-radius: 30px;
}

.sekmingaZinute
{
	color: #4F8A10;
    background-color: #DFF2BF;
	margin: 10px 0px;
	text-align: left;
	padding: 10px;
}

.button1
{
	background-color: #707070;
	color:white;
	border-radius: 10px;
	padding:10px;
}

.button2
{
	background-color: #EAEAEA;
	color:black;
	border-radius: 10px;
	padding:5px;
}

.button3
{
	background-color: #EAEAEA;
	color:black;
	border-radius: 10px;
	width: 300px;
	padding:3px;
}

.tarpasApacioje
{
	padding-bottom:10px;
}

.perVisaIlgi
{
	width:100%;
}

.centras
{
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.tarpasVirsuje
{
	padding-top:100px;
}

.perViduri
{
	text-align:center;
	
}

.kaireje
{
	text-align:left;
}

.desineje
{
	text-align:right;
}

.klaida
{
	color: darkred;
    background-color: #FFBEBE;
	margin: 10px 0px;
	text-align: left;
	padding: 10px;
	border-radius: 10px;
}

.lentele{
	width:100%;
}

.lentele, td ,tr, th {
	border-collapse: collapse;
  border: 1px solid black;
  padding:18px;
}

.lentele th {
	padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #707070;
}

.raudonai{
	color: red;
}

.lentele tr:nth-child(even){background-color: #EAEAEA;}

.lentele tr:hover {background-color: #979797;}

.tekstas {
	width:80%;
	padding-left:10%;
	padding-right:10%;
}

.bold {
  font-weight: bold;
}

a.button {
    border: 1px solid #808080;
    display: inline-block;
    padding: 5px;
	text-decoration: none;
}